In [46]:
from abc import ABC, abstractmethod

In [47]:
class Car(ABC):
    
    def mileage(self):
        print("Average car mileage is 30km")

    def Tire(self):
        print("four tire is available in every car.")

    def window(self,x):
        print("This car window : %d"%x);

In [48]:
class TATA(Car):
    def mileage(self):
        print("TATA car mileage is 30km")

class Suzuki(Car):
    def mileage(self):
        print("Suzuki car mileage is 50km")

class Baleno(Car):
    def mileage(self):
        print("Baleno car mileage is 20km")

In [49]:
T = TATA()
T.mileage()
T.Tire()
T.window(4)

TATA car mileage is 30km
four tire is available in every car.
This car window : 4

In [51]:
B = Baleno()
B.mileage()
B.window(2)

Baleno car mileage is 20km
This car window : 2

In [52]:
c = Car()
c.mileage()

Average car mileage is 30km