In [2]:
class Person:
    def __init__(self,name,age):
        self.name = name;
        self.age = age;

    def display(self):
        print("Person :",self.name,self.age);

p1 = Person("Payal",18);
p1.display()

Person : Payal 18

In [5]:
class Employee:
    def __init__(self,name,id,post,salary):
        self.name = name
        self.id = id
        self.post = post
        self.salary = salary
    def display(self):
        print("Employee data :",self.name,self.id,self.post,self.salary);

Em1 = Employee("Kurshed",21,"Manager",12000);
Em1.display()

Employee data : Kurshed 21 Manager 12000

In [26]:
class Employee:
    def __init__(self,name,age,id,salary,post,exp):
        self.name = name;
        self.age = age;
        self.id = id;
        self.salary = salary;
        self.post = post;
        self.exp = exp;
        
    def __str__(self):
        return f"Name :{self.name} Age :{self.age} Id : {self.id} Salary : {self.salary} Post :{self.post} Experience : {self.exp} "

emp1 = Employee("sanu",21,345,30000,"Manager",2)
print(emp1)

Name :sanu Age :21 Id : 345 Salary : 30000 Post :Manager Experience : 2

In [31]:
class student:
    def __init__(self,name,rollno,age,sub):
        self.name = name
        self.rollno = rollno
        self.age = age
        self.sub = sub
    def display(self):
        print("student data:" , self.name , self.rollno , self.age , self.sub);
    def __str__(self):
        return f"{self.name} {self.rollno} {self.age} {self.sub}";
    
st1 = student("sannu",21,21,"bio")
st1.display()
print(st1)

student data: sannu 21 21 bio
sannu 21 21 bio

In [7]:
class Teacher1 :
    def __init__(self,name,age,id):
        self.name = name;
        self.age = age;
        self.id = id;
    def display(self):
        print("Teacher Details :\n","Name :",self.name,",\n","Age :",self.age,",\n","ID :",self.id)

Tea1 = Teacher1("Payal",18,543)
Tea1.display()

Teacher Details :
 Name : Payal ,
 Age : 18 ,
 ID : 543

In [22]:
class Teacher2 :
    count = 0;
    def __init__(self,name,age,id):
        self.name = name;
        self.age = age;
        self.id = id;
        Teacher2.count += 1;
    def display(self):
        print("Teacher Details :\n Name : %s\n Age : %d\n ID : %d"%(self.name,self.age,self.id))

Tea1 = Teacher2("Payal",18,543)
Tea1.display()
print(Teacher2.count)

Teacher Details :
 Name : Payal
 Age : 18
 ID : 543
1

In [25]:
Tea2 = Teacher2("Aashis",23,562)
Tea2.display()
print(Teacher2.count)

Teacher Details :
 Name : Aashis
 Age : 23
 ID : 562
2

In [23]:
class Student2:
    
    def ShowDetails(self,name,age,height,bloodgroup):
        print("Student Details :\n","Name :",name,",\n","Age :",age,",\n","Height :",height,",\n","Bloodgroup :",bloodgroup)
st1 = Student2()
st1.ShowDetails("Payal",21,5.6,"AB+")

Student Details :
 Name : Payal ,
 Age : 21 ,
 Height : 5.6 ,
 Bloodgroup : AB+

In [24]:
class Employee:
    def __init__(self):
        print("first constructor running")
    def __init__(self):
        print("second constructor running")

emp1 = Employee()
print(emp1)

second constructor running
<__main__.Employee object at 0x0000027CA02B9610>