# Operators :
- An operator is used to perform specific mathematical or logical operation on values.
- The values that the operators work on are called operands.
- For example : 
- 1. The expression 10 + num .
  2. The value 10, and the variable num are operands.
  3. The + (plus) sign is an operator.

## 1. Arithmetic Operators
- Arithmetic operators that are used to perform the four basic arithmetic operations as well as 
modular division, floor division and exponentiation.

### a. Addition : `(+)`:

In [1]:
# Adds the two numeric values on either side (both sides) of the operator.
num1 = 5
num2 = 6
num1 + num2

11

In [2]:
# This operator can also be used to concatenate two strings on either side of the operator.
str1 = "Hello"
str2 = "India"
str1 + str2

'HelloIndia'

### b. Subtraction `(-)` :

In [3]:
# Subtracts the operand on the right from the operand on the left.
num1 = 5
num2 = 6
num1 - num2

-1

In [4]:
num2 - num1

1

### c. Multiplication `(*)` :

In [5]:
# Multiplies the two values on both side of the operator.
num1 = 5
num2 = 6
num1 * num2

30

In [6]:
# Repeats the item on left of the operator if first operand is a string and second operand is an integer value.
str1 = "India"
str2 * 3

'IndiaIndiaIndia'

### d. Division `(/)` :

In [7]:
# Divides the operand on the left by the operand on the right and returns the quotient.
num1 = 8
num2 = 4

In [8]:
num2/num1

0.5

### e. Modulus `(%)` :

In [9]:
# Divides the operand on the left by the operand on the right and returns the remainder.
num1 = 13
num2 = 5
num1 % num2

3

### f. Floor Division `(//)`:
-  Divides the operand on the left by the operand on the right and returns the quotient by removing the decimal part.
-  It is sometimes also called integer division.

In [10]:
num1 = 13
num2 = 4
num1//num2

3

In [11]:
num2 // num1

0

### g. Exponent `(**)`:
- Performs exponential (power) calculation on operands.
- That is, raise the operand on the left to the power of the operand on the right.

In [12]:
num1 = 3
num2 = 4
num1 ** num2

81

## 2. Relational Operators
- Relational operator compares the values of the operands on its either side and determines the relationship among them.

In [13]:
num1 = 10
num2 = 0
num3 = 10
str1 = "Good"
str2 = "Afternoon"

### a. Equals to `(==)` :

In [14]:
# If the values of two operands are equal, then the condition is True, otherwise it is False.
num1 == num2

False

In [15]:
str1 == str2

False

### b. Not equal to `(!=)` :

In [16]:
# If values of two operands are not equal, then condition is True, otherwise it is False.
num1 != num2

True

In [17]:
str1 != str2

True

In [18]:
num1 != num3

False

###  c. Greater than `(>)` :
- If the value of the left-side operand is greater than the value of the right-side operand, then condition is True, otherwise it is False.

In [19]:
num1 > num2

True

In [20]:
str1 > str2

True

### d. Less than `(<)` :
- If the value of the left-side operand is less than the value of the righ-side operand, then condition is True, otherwise it is False.

In [21]:
num1 < num3

False

In [22]:
str2 < str1

True

### e. Greater than or equal to `(>=)` :
- If the value of the left-side operand is greater than or equal to the value of the right-side operand, then condition is True, otherwise it is False.

In [23]:
num1 >= num2

True

In [24]:
num2 >= num3

False

In [25]:
str1 >= str2

True

### f. Less than or equal to `(<=)` :
- If the value of the left operand is less than or equal to the value of the right operand, then is True otherwise it is False.

In [26]:
num1 <= num2

False

In [27]:
num2 <= num3

True

In [28]:
str1 <= str2

False

## 3. Assignment Operators
- Assignment operator assigns or changes the value of the variable on its left.

### a. `( = )` :
- Assigns value from right-side operand to left-side operand.

In [29]:
num1 = 2

In [30]:
num2 = num1

In [31]:
num2

2

In [32]:
country = "India"

In [33]:
country

'India'

### b. `(+=)` :
- It adds the value of right-side operand to the left-side operand and assigns the result to the left-side operand.
- Note : x += y is same as x = x + y

In [34]:
num1 = 10

In [35]:
num2 = 2

In [36]:
num1 += num2

In [37]:
num1

12

In [38]:
num2

2

In [39]:
str1 = "Hello"
str2 = "India"
str1 += str2

In [40]:
str1

'HelloIndia'

In [41]:
str2

'India'

### c. `( -= )` :
- It subtracts the value of right-side operand from the left-side operand and assigns the result to left-side operand.
- Note : x -= y is same as x = x - y

In [42]:
num1 = 10
num2 = 2
num1 -= num2
num1

8

### d. `( *= )` :
- It multiplies the value of right-side operand with the value of left-side operand and assigns the result to left-side operand.
- Note: x *= y is same as x = x * y

In [43]:
num1 = 2
num2 = 3
num1 *= 3

In [44]:
num1

6

In [45]:
a = "India"

In [46]:
a *= 3

In [47]:
a

'IndiaIndiaIndia'

### e. `( /= )` :
- It divides the value of left-side operand by the value of right-side operand and assigns the result to left-side operand.
- Note: x /= y is same as x = x / y

In [48]:
num1 = 6
num2 = 3
num1 /= num2

In [49]:
num1

2.0

### f. `( %= )` :
- It performs modulus operation using two operands and assigns the result to left-side 
operand.
- Note: x %= y is same as x = x % y

In [50]:
num1 = 7
num2 = 3

In [51]:
num1 %= num2

In [52]:
num1

1

### g. `( //= )` :
- It performs floor division using two operands and assigns the result to left-side operand
- Note: x //= y is same as x = x // y

In [53]:
num1 = 7

In [54]:
num2 = 3

In [55]:
num1 //= num2

In [56]:
num1

2

### h. `( **= )` :
- It performs exponential (power) calculation on operators and assigns value to the left-side 
operand
- Note: x **= y is same as x = x ** y

In [57]:
num1 = 2
num2 = 3
num1 **= num2

In [58]:
num1

8

## 4. Logical Operators
- There are three logical operators supported by Python.
- These operators (and, or, not) are to be written in lower case only.
- The logical operator evaluates to either True or False based on the logical operands on either side.
- Every value is logically either True or False.
- By default, all values are True except None, False, 0 (zero), empty collections "", (), [], {}, and few other special values.

In [59]:
num1 = 10
num2 = -20
# both num1 and num2 are logically True.

### Logical AND `(and)` :
- If both the operands are True, then condition becomes True.

In [60]:
True and True

True

In [61]:
num1 = 10
num2 = -20

In [62]:
bool (num1 and num2)

True

In [63]:
True and False

False

In [64]:
num3 = 0

In [65]:
bool(num1 and num3)

False

In [66]:
False and False

False

### Logical OR `(or)` :
- If any of the two operands are True, then condition becomes True.

In [67]:
True or True

True

In [68]:
True or False

True

In [69]:
bool(num1 or num3)

True

In [70]:
False or False

False

### Logical NOT `(not)` :
- Used to reverse the logical state of its operand.

In [71]:
num1 = 10

In [72]:
bool(num1)

True

In [73]:
not num1

False

In [74]:
bool(num1)

True

## 5. Identity Operators
- Identity operators are used to determine whether the value of a variable is of a certain type or not.
- Identity operators can also be used to determine whether two variables are referring to the same object or not.
- There are two identity operators.

### `is` :
- Evaluates True if the variables on either side of the operator point towards the same memory location and False otherwise.
- var1 is var2 results to True if id(var1) is equal to id(var2)

In [75]:
num1 = 5

In [76]:
type(num1) is int

True

In [77]:
num2 = num1

In [78]:
id(num1)

140714105496616

In [79]:
id(num2)

140714105496616

In [80]:
num1 is num2

True

### ` is not ` :
- Evaluates to False if the variables on either side of the operator point to the same memory location and True otherwise.
- var1is not var2 results to True if id(var1) is not equal to id(var2).

In [81]:
num1 is not num2

False

## 6. Membership Operators :
- Membership operators are used to check if a value is a member of the given sequence or not.

### `in` :
- Returns True if the variable/value is found in the specified sequence and False otherwise.

In [82]:
a = [1,2,3]

In [83]:
2 in a

True

In [84]:
"1" in a

False

### `not in` :
- Returns True if the variable/value is not found in the specified sequence and False otherwise.

In [85]:
a = [1,2,3]

In [86]:
10 not in a

True

In [87]:
1 not in a

False

# Expressions :

- An expression is defined as a combination of constants, variables, and operators.
- An expression always evaluates to a value.
- A value or a standalone variable is also considered as an expression but a standalone 
operator is not an expression.

In [88]:
# Some examples of valid expressions are given below.
# 100
# num
# num - 20.4
# 3.0 + 3.14
# 23/3 - 5 * 7(14 - 2)
# "Global" + "Citizen"

# Precedence of Operators :

- Evaluation of the expression is based on precedence of operators.
- When an expression contains different kinds of operators, precedence determines which operator should be applied first.
- Higher precedence operator is evaluated before the lower precedence operator.
- Most of the operators studied till now are binary operators. 
- Binary operators are operators with two operands.

## Note : 
- Parenthesis can be used to override the precedence of operators.
- The expression within () is evaluated first.
- For operators with equal precedence, the expression is evaluated from left to right.

In [89]:
# Example 1 : How will python evaluate the following expression?
20 + 30 * 40

1220

In [90]:
# Example 2 : How will Python evaluate the following expression?
20 - 30 + 40
# The two operators (–) and (+) have equal precedence.

30

In [91]:
# Example 3 : How will Python evaluate the following expression?
(20 + 30 ) * 40

2000

In [92]:
# Example 4 : How will the following expression be evaluated in Python?
15.0 / 4 + (8 + 3.0)

14.75

# Statement :
- A statement is a unit of code that the Python interpreter can execute.

In [93]:
x = 4 # assignment statement
cube = x**3 # assignment statement
print(x,cube) # print statement

4 64

# Input and Output :
### Input : 
- Sometimes,  program needs to interact with the user’s to get some input data or information from the end user and process it to give the desired output.
- In Python, we have the input() function for taking the user input.
- The input() function prompts the user to enter data.
- It accepts all user input as string.
- The user may enter a number or a string but the input() function treats them as strings only.

In [9]:
# The syntax for input() is: input ([Prompt])

- Prompt is the string we may like to display on the screen prior to taking the input, and it is optional.
- When a prompt is specified, first it is displayed on the screen after which the user can enter data.
- The input() takes exactly what is typed from the keyboard, converts it into a string and assigns it to the variable on left-hand side of the assignment operator (=).
- Entering data for the input function is terminated by pressing the enter key.

In [11]:
fname = input("Enter your first name : ")

Enter your first name :  Kurshed

In [13]:
age = input("Enter your age :")

Enter your age : 23

In [14]:
type(age)

str

- We can typecast or change the datatype of the string data accepted from user to an appropriate numeric value.
- For example, the following statement will convert the accepted string to an integer.
- If the user enters any non-numeric value, an error will be generated.

In [15]:
# function int() to convert string to integer
age = int(input("Enter your age :"))

Enter your age : 23

In [16]:
type(age)

int

### Output
- Python uses the print() function to output data to standard output device — the screen.
- The function print() evaluates the expression before displaying it on the screen.
- The print() outputs a complete line and then moves to the next line for subsequent output.

In [17]:
# The syntax for print() is: print(value [, ..., sep = ' ', end = '\n'])

#### ` sep : `
- The optional parameter sep is a separator between the output values.
- We can use a character, integer or a string as a separator.
- The default separator is space.

#### `end: `
- This is also optional and it allows us to specify any string to be appended after the last 
value.
- The default is a new line.

In [18]:
print("Hello")

Hello

In [19]:
print(10*2.5)

25.0

In [22]:
print("I" + "Love" + "My" + "Country")

ILoveMyCountry

In [23]:
# print function in the above example is 
# concatenating strings, and we use + (plus) between 
# two strings to concatenate them.

In [24]:
print("I'm", 23," Year old")

I'm 23  Year old

In [25]:
# print function also appears to be concatenating strings 
# but uses commas (,) between strings.

-  Actually, here we are passing multiple arguments, separated by commas to the print function.
-  As arguments can be of different types, hence the print function accepts integer (16) along with strings here.
-  But in case the print statement has values of different types and ‘+’ is used instead of comma, it will generate an error.

# Type Conversion

In [26]:
num1 = input("Enter a number and I'll double it.")

Enter a number and I'll double it. 10

In [27]:
num1 = num1*2
print(num1)

1010

In [29]:
num1 = input("Enter a number and I'll double it:")
num1 = int(num1) #convert string input to integer
num1 = num1 * 2
print(num1)

Enter a number and I'll double it: 23

46

In [31]:
# What is type conversion and how it works?

- We can change the data type of a variable in Python from one type to another.
- Such data type conversion can happen in two ways:
  1. Either explicitly (forced) when the programmer specifies for the interpreter to convert a data type to another type;
  2. Or implicitly, when the interpreter understands such a need by itself and does the type 
conversion automatically.

## 1. Explicit Conversion

- Explicit conversion, also called type casting happens when data type conversion takes place because the programmer forced it in the program.
- The general form of an explicit data type conversion is:

In [32]:
# (new_data_type) (expression)

- With explicit type conversion, there is a risk of loss of information since we are forcing an expression to be of a specific type.

In [33]:
x = 20.67

In [34]:
int(x)

20

In [36]:
# .67 loss

####  Explicit type conversion functions in Python

In [37]:
# int(x) ==> convert x to an integer
# float(x) ==> convert x to a floating-point number
# str(x) ==> convert x to a string representation
# char(x) ==> convert ASCII value of x to character
# ord(x) ==> returns the character associated with the ASCII code x

In [38]:
# Program of explicit type conversion from int to float.
num1 = 10
num2 = 20
num3 = num1 + num2
print(num3)
print(type(num3))
num4 = float(num1 + num2)
print(num4)
print(type(num4))

30
<class 'int'>
30.0
<class 'float'>

In [39]:
# Program of explicit type conversion from float to int.
num1 = 10.2
num2 = 20.6
num3 = (num1 + num2)

In [40]:
print(num3)
print(type(num3))

30.8
<class 'float'>

In [41]:
num4 = num1 + num2

In [42]:
num4 = int(num4)

In [43]:
print(num4)
print(type(num4))

30
<class 'int'>

In [45]:
# Type conversion between Numbers and Strings
priceIcecream = 25
priceBrownie = 45

In [46]:
totalPrice = priceIcecream + priceBrownie

In [48]:
print("The total is Rs." + totalPrice)

TypeError: can only concatenate str (not "int") to str

In [49]:
print("The total is Rs. " , totalPrice)

The total is Rs.  70

In [50]:
# Explicit type casting
print("The total in Rs." + str(totalPrice))

The total in Rs.70

In [52]:
# Explicit type conversion
icecream = '25'
brownie = '45'
# String concatenation
price = icecream + brownie
print("Total Price Rs." + price)

Total Price Rs.2545

In [54]:
# Explicit type conversion - string to integer
price = int(icecream) + int(brownie)
print("Total Price Rs. " + str(price))

Total Price Rs. 70

## Implicit Conversion

In [56]:
# Implicit conversion, also known as coercion, happens 
# when data type conversion is done automatically by 
# Python and is not instructed by the programmer.

In [58]:
# Implicit type conversion from int to float
num1 = 10 # num1 is an integer
num2 = 20.0 # num2 is a float
sum1 = num1 + num2 # sum1 is sum of a float
print(sum1)
print(type(sum1))

30.0
<class 'float'>

# Why was the float value not converted to an integer instead?

# Answer :
- This is due to type promotion that allows performing operations (whenever possible) by converting data into a wider-sized data type without any loss of information.

# Debugging :

- A programmer can make mistakes while writing a program, and hence, the program may not execute or may generate wrong output.
- The process of identifying and removing such mistakes, also known as bugs or errors, from a program is called debugging.

In [59]:
# Errors occurring in programs can be categorised as :
# 1. Syntax errors
# 2. Logical errors
# 3. Runtime errors

## 1. Syntax Errors :
- Python has its own rules that determine its syntax.
- The interpreter interprets the statements only if it is syntactically (as per the rules of Python) correct.
- If any syntax error is present, the interpreter shows error message(s) and stops the execution there.

In [60]:
(10 + 12) # is syntactically correct

22

In [63]:
(10 + 12 # is not syntactically correct

_IncompleteInputError: incomplete input (4082658182.py, line 1)

## 2. Logical Errors

- A logical error is a bug in the program that causes it to behave incorrectly.
- A logical error produces an undesired output but without abrupt termination of the execution of the program.
- Since the program interprets successfully even when logical errors are present in it, it is sometimes difficult to identify these errors.
- The only evidence to the existence of logical errors is the wrong output.
- While working backwards from the output of the program, one can identify what went wrong.

In [64]:
# Find the average of two numbers
num1 = 10
num2 = 12
print(num1 + num2 /2)

16.0

In [65]:
print((num1 + num2)/2)

11.0

- Logical errors are also called semantic errors as they occur when the meaning of the program (its semantics) is not correct.

## 3. Runtime Error

- A runtime error causes abnormal termination of program while it is executing.
- Runtime error is when the statement is correct syntactically, but the interpreter cannot execute it.
- Runtime errors do not appear until after the program starts running or executing.

In [66]:
# Example of a program which generates runtime error.
num1 = 10.0
num2 = int(input("num2 = "))

num2 =  0

In [68]:
print(num1/num2)

ZeroDivisionError: float division by zero