# Python set

    A Python set is the collection of the unordered items.
    
    Each element in the set must be unique, immutable, and the sets remove the duplicate elements.

    Sets are mutable which means we can modify it after its creation.

    Unlike other collections in Python, there is no index attached to the elements of the set, i.e., 
    
    we cannot directly access any element of the set by the index. 
    
    However, we can print them all together, or we can get the list of elements by looping through the set.

### Creating a set
    1.The set can be created by enclosing the comma-separated immutable items with the curly braces {}.

    2.Python also provides the set() method, Which can be used to create the set by the passed sequence.

In [57]:
# Using curly braces
Days = {"Mon","Tue","Wed","Thu","Fri","Sat","Sun"}

In [58]:
Days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [59]:
type(Days)

set

In [60]:
for i in Days:
    print("Week days Name :",i)

Week days Name : Mon
Week days Name : Thu
Week days Name : Wed
Week days Name : Tue
Week days Name : Sun
Week days Name : Fri
Week days Name : Sat

In [61]:
# Using set() Method
Days = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]);

In [62]:
Days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [63]:

type(Days)

set

In [64]:
for i in Days:
    print(i)

Mon
Fri
Tue
Sat
Thu
Sun
Wed

***It can contain any type of element such as integer ,float,String etc. But mutable elements (list,dictionary,set) can't be a member of set.***

In [65]:
set1 = {1,2,3,"set",20.5,14}

In [66]:
set

set

In [67]:
set1

{1, 14, 2, 20.5, 3, 'set'}

In [68]:
# Creating a set which have immutable elements with lists
set1 = {1,2,3,("set")}
print(set1)

{1, 2, 3, 'set'}

In [69]:
# set in set elements
set2 = {1,2,3,{"hello","jello"}};
print(set2)

TypeError: unhashable type: 'set'

***In the above code, we have created two sets, the set set1 have immutable elements and set2 have one mutable element as a list. 

While checking the type of set2, it raised an error, which means set can contain only immutable elements.***

***Creating an empty set is a bit different because empty curly {} braces are also used to create a dictionary as well. 

So Python provides the set() method used without an argument to create an empty set.***

In [70]:
emt_dict = {}
type(emp_dict)

NameError: name 'emp_dict' is not defined

In [71]:
emt_set = set()
type(emt_set)

set

In [72]:
set5 = {1,2,4,4,8,9,9,10}
print("Return set with unique element",set5)

Return set with unique element {1, 2, 4, 8, 9, 10}

In [73]:
Months = {"Jan","Feb","Mar"}

In [74]:
type(Months)

set

In [75]:
Months.add("June")

In [76]:
Months

{'Feb', 'Jan', 'June', 'Mar'}

In [77]:
Months

{'Feb', 'Jan', 'June', 'Mar'}

In [78]:
for i in Months:
    print(i)

Feb
June
Jan
Mar

In [79]:
set5

{1, 2, 4, 8, 9, 10}

In [80]:
Months

{'Feb', 'Jan', 'June', 'Mar'}

In [81]:
Months.update(["April","May"])

In [82]:
Months

{'April', 'Feb', 'Jan', 'June', 'Mar', 'May'}

### Removing items from the set
    
    Python provides the discard() method and remove() method which can be used to remove the items from the set. 

    The difference between these function, using discard() function if the item does not exist in the set then the set remain unchanged whereas remove() method will through an error.

In [83]:
Months

{'April', 'Feb', 'Jan', 'June', 'Mar', 'May'}

In [84]:
Months.discard("April")

In [85]:
Months

{'Feb', 'Jan', 'June', 'Mar', 'May'}

In [86]:
Months.discard("kuchhbhi")

In [87]:
Months

{'Feb', 'Jan', 'June', 'Mar', 'May'}

In [88]:
# when use the remove method for delete item in the set
Months.remove("kuchhbhi")

KeyError: 'kuchhbhi'

1. We can also use the pop() method to remove the item. 

2. Generally, the pop() method will always remove the last item but the set is unordered, we can't determine which element will be popped from set.

In [89]:
Months

{'Feb', 'Jan', 'June', 'Mar', 'May'}

In [90]:
Months.pop()

'Feb'

In [91]:
Months

{'Jan', 'June', 'Mar', 'May'}

In [92]:
Months.pop()

'Jan'

In [93]:
Months

{'June', 'Mar', 'May'}

In [94]:
Months.pop()

'June'

In [95]:
Months

{'Mar', 'May'}

***Python provides the clear() method to remove all the items from the set.***

In [96]:
Months.clear()

In [97]:
Months

set()

### Python Set Operations

    Set can be performed mathematical operation such as union, intersection, difference, and symmetric difference.

### 1.Union of two Sets

    To combine two or more sets into one set in Python, use the union() function.

In [98]:
# first of all using union operator
day1 = {"Sun","Mon","Tue"}

In [99]:
day2 = {"Wed","Thu","Fri"}

In [100]:
print(day1|day2)

{'Mon', 'Thu', 'Tue', 'Sun', 'Wed', 'Fri'}

In [101]:
day1.union(day2)

{'Fri', 'Mon', 'Sun', 'Thu', 'Tue', 'Wed'}

In [102]:
set1 = {1,2,3}
set2 = {2,3,4}
set3 = {3,4,5}

In [103]:
set1.union(set2,set3)

{1, 2, 3, 4, 5}

### 2.The intersection of two sets
    
    To discover what is common between two or more sets in Python, apply the intersection() function.

     One or more sets can also be used as the intersection() function parameters.

In [119]:
day1

{'Mon', 'Sun', 'Tue'}

In [120]:
day2

{'Fri', 'Thu', 'Wed'}

In [121]:
print(day1 & day2)

set()

In [122]:
set1

{1, 2, 3}

In [123]:
set2

{2, 3, 4}

In [124]:
set1&set2

{2, 3}

In [125]:
# intersection() method
print(set1.intersection(set2))

{2, 3}

### 3.The intersection_update() method
    The intersection_update() method removes the items from the original set that are not present in both the sets (all the sets if more than one are specified). 

    The intersection_update() method is different from the intersection() method since it modifies the original set by removing the unwanted items, on the other hand, the intersection() method returns a new set.

In [126]:
a = {"pooja","sahil","sona"}
b = {"sona","rona","dhona"}
c = {"rona","sona","meri"}

In [127]:
a.intersection_update(b,c)

In [128]:
a

{'sona'}

### 4.subtraction (-) operator
    The difference of two sets can be calculated by using the subtraction (-) operator or intersection() method.

    Suppose there are two sets A and B, and the difference is A-B that denotes the resulting set will be obtained that element of A, which is not present in the set B.

In [130]:
day1 = {"Sun","Mon","Tue"}

In [131]:
day2 = {"Tue","Wed","Thu"}

In [132]:
print(day1-day2)

{'Mon', 'Sun'}

In [134]:
#using difference method
print(day1.difference(day2))

{'Mon', 'Sun'}

### 5.Symmetric Difference of two sets
    In Python, the symmetric Difference between set1 and set2 is the set of elements present in one set or the other but not in both sets.

    In other words, the set of elements is in set1 or set2 but not in their intersection.

    The Symmetric Difference of two sets can be computed using Python's symmetric_difference() method.

    This method returns a new set containing all the elements in either but not in both. Consider the following example:

In [135]:
# semetric_difference() method ===> ^
a = {1,2,3,4,5,6}
b = {1,2,9,8,10}

In [136]:
c = a ^b

In [137]:
c

{3, 4, 5, 6, 8, 9, 10}

In [138]:
a.symmetric_difference(b)

{3, 4, 5, 6, 8, 9, 10}

### 6.Set Comparisons

    In Python, you can compare sets to check if they are equal, if one set is a subset or superset of another, or if two sets have elements in common.

1. ==: checks if two sets have the same elements, regardless of their order.
2. !=: checks if two sets are not equal.
3. <: checks if the left set is a proper subset of the right set (i.e., all elements in the left set are also in the right set, but the right set has additional elements).
4. <=: checks if the left set is a subset of the right set (i.e., all elements in the left set are also in the right set).
5. (>): checks if the left set is a proper superset of the right set (i.e., all elements in the right set are also in the left set, but the left set has additional elements).
6. (>)=: checks if the left set is a superset of the right set (i.e., all elements in the right set are also in the left).

In [139]:
day1

{'Mon', 'Sun', 'Tue'}

In [140]:
day2

{'Thu', 'Tue', 'Wed'}

In [141]:
day1 > day2

False

In [142]:
day1 < day2

False

In [143]:
day1 == day2

False

#### Q.1 Write a program to remove the given number from the set.
***my_set = {1,2,3,4,5,6,12,24}***

In [147]:
my_set = {1,2,3,4,5,6,12,24};

In [148]:
my_set

{1, 2, 3, 4, 5, 6, 12, 24}

In [149]:
n = int(input("Enter a number you want to remove"))
my_set.discard(n)
print("Removing Element",my_set)

Enter a number you want to remove 12

Removing Element {1, 2, 3, 4, 5, 6, 24}

#### Q.2 Write a program to add multiple elements to the set.

In [156]:
normal_set = {2,"Hello",3,"Jello",4,"Khelo"}
normal_set.update(["kello",5])

In [158]:
normal_set

{2, 3, 4, 5, 'Hello', 'Jello', 'Khelo', 'kello'}

#### Q.3 Write a program to find the union between two set.
***set1 = {"Peter","Joseph",65,59,96}***
***set2 = {"Peter",1,2,"Joseph}***

In [160]:
set1 = {"Peter","Joseph",65,59,96}

In [162]:
set2 = {"Peter",1,2,"Joseph"}

In [163]:
set1.union(set2)

{1, 2, 59, 65, 96, 'Joseph', 'Peter'}