# Python list
    In Python, the sequence of various data types is stored in a list.

    A list is a collection of different kinds of values or items.

    Since Python lists are mutable, we can change their elements after forming

    The comma (,) and the square brackets [enclose the List's items] serve as separators.
    
    Although six Python data types can hold sequences, the List is the most common and reliable form.

    Tuples and Strings are two similar data formats for sequences.

### List Declaration

In [1]:
list1 = [1,2,3,4,5,4]
list2 = ["Hello","Jello","khello"]

In [2]:
list1

[1, 2, 3, 4, 5, 4]

In [3]:
list2

['Hello', 'Jello', 'khello']

In [4]:
type(list1)

list

In [5]:
type(list2)

list

### Characteristics of Lists
1. The lists are in order.
2. The list element can be accessed via the index.
3. The mutable type of list is.
4. The rundowns are changeable sorts.
5. The number of various elements can be stored in a list.ist.

In [6]:
a = [ 1, 2, "Ram", 3.50, "Rahul", 5, 6 ]    
b = [ 1, 2, 5, "Ram", 3.50, "Rahul", 6 ]    
a == b

False

In [8]:
emp = ["pooja",102,"Bharat"]
print("Name : %s, Id : %d, Country : %s " % (emp[0],emp[1],emp[2]))

Name : pooja, Id : 102, Country : Bharat

In [9]:
list = [1,2,3,4,5,6,7]    
print(list[0])    
print(list[1])    
print(list[2])    
print(list[3])    
# Slicing the elements    
print(list[0:6])    
# By default, the index value is 0 so its 
# starts from the 0th element and go for index -1.    
print(list[:])    
print(list[2:5])    
print(list[1:6:2])

1
2
3
4
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5]
[2, 4, 6]

In [10]:
list = [1,2,3,4,5]    
print(list[-1])    
print(list[-3:])    
print(list[:-1])    
print(list[-3:-1])

5
[3, 4, 5]
[1, 2, 3, 4]
[3, 4]

### Updating List Values
    
    Due to their mutability and the slice and assignment operator's ability to update their values, lists are Python's most adaptable data structure. 
    
    Python's append() and insert() methods can also add values to a list.

In [11]:
list = [1,2,3,4,5]

In [12]:
list

[1, 2, 3, 4, 5]

In [13]:
print(list)

[1, 2, 3, 4, 5]

In [14]:
list[2] = 10

In [15]:
list

[1, 2, 10, 4, 5]

In [16]:
list[1:3] = [45,67]

In [17]:
list

[1, 45, 67, 4, 5]

In [18]:
list[-1] = 786

In [19]:
list

[1, 45, 67, 4, 786]

### Python list operations
    1.Repetition
    2.Concatenation
    3.Length
    4.Iteration
    5.Membership

In [20]:
# Repetition of list
list1 = [12,23,43,54]

list2 = list1*2

In [21]:
list2

[12, 23, 43, 54, 12, 23, 43, 54]

In [22]:
# Concatenation
list1 + list2

[12, 23, 43, 54, 12, 23, 43, 54, 12, 23, 43, 54]

In [23]:
# length of list
print(len(list2))

8

In [24]:
len(list1)

4

In [25]:
# iteration

list1

[12, 23, 43, 54]

In [26]:
for i in list1:
    print("number :",i)

number : 12
number : 23
number : 43
number : 54

In [27]:
# Membership

print(43 in list1)

True

In [28]:
print(50 in list1)

False

### Adding Elements to the list
    The append() function in Python can add a new item to the List.

In [30]:
list1 = []

number = int(input("Enter a number :"))

for i in range(0,number):
    list1.append(input("Enter the item :"))

for i in list1:
    print(i,end= " ")

Enter a number : 12
Enter the item : sahil,muskan,rabina
Enter the item : sahil
Enter the item : muskan
Enter the item : simaran
Enter the item : roshani
Enter the item : payal
Enter the item : pooja
Enter the item : aap
Enter the item : me
Enter the item : tum
Enter the item : or
Enter the item : lon

sahil,muskan,rabina sahil muskan simaran roshani payal pooja aap me tum or lon

### Removing Elements from the list
    The remove() function in Python can remove an element from the List.

In [31]:
list1 = [0,1,2,3,4]
print("Printing ofiginal list :");
for i in list1:
    print(i,end=" ")

Printing ofiginal list :
0 1 2 3 4

In [33]:
list1.remove(2)

In [34]:
list1

[0, 1, 3, 4]

In [35]:
for i in list1:
    print(i,end=" ")

0 1 3 4

### Python list built-in functions

    1. len()
    2. max()
    3. min()

In [37]:
list1

[0, 1, 3, 4]

In [38]:
len(list1)

4

In [39]:
max(list1)

4

In [40]:
min(list1)

0

#### Q.1 Create a program to eliminate the list's duplicate items.

In [1]:
list1 = [1,2,2,3,55,98,65,65,13,29]

list2 = [];

for i in list1:
    if i not in list2:
        list2.append(i)
    print(list2)

[1, 2, 3, 55, 98, 65, 13, 29]

#### Q.2 Compose a program to track down the amount of the component in the rundown.

In [44]:
list1 = [3,4,5,9,10,12,24] 
sum = 0
for i in list1:
    sum += i
print(sum)

67

#### Q.3 Compose the program to find the rundowns comprise of somewhere around one normal component.

In [46]:
list1 = [1,2,3,4,5,6]
list2 = [7,8,6,5,3]

for i in list1:
    for j in list2:
        if i == j:
            print("The common element is :",i)

The common element is : 3
The common element is : 5
The common element is : 6