# Python set

    A Python set is the collection of the unordered items.
    
    Each element in the set must be unique, immutable, and the sets remove the duplicate elements.

    Sets are mutable which means we can modify it after its creation.

    Unlike other collections in Python, there is no index attached to the elements of the set, i.e., 
    
    we cannot directly access any element of the set by the index. 
    
    However, we can print them all together, or we can get the list of elements by looping through the set.

### Creating a set
    1.The set can be created by enclosing the comma-separated immutable items with the curly braces {}.

    2.Python also provides the set() method, Which can be used to create the set by the passed sequence.

In [1]:
# Using curly braces
Days = {"Mon","Tue","Wed","Thu","Fri","Sat","Sun"}

In [2]:
Days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [3]:
type(Days)

set

In [4]:
for i in Days:
    print("Week days Name :",i)

Week days Name : Mon
Week days Name : Thu
Week days Name : Wed
Week days Name : Tue
Week days Name : Sun
Week days Name : Fri
Week days Name : Sat

In [5]:
# Using set() Method
Days = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]);

In [6]:
Days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [7]:

type(Days)

set

In [8]:
for i in Days:
    print(i)

Mon
Fri
Tue
Sat
Thu
Sun
Wed

***It can contain any type of element such as integer ,float,String etc. But mutable elements (list,dictionary,set) can't be a member of set.***

In [9]:
set1 = {1,2,3,"set",20.5,14}

In [10]:
set

set

In [11]:
set1

{1, 14, 2, 20.5, 3, 'set'}

In [12]:
# Creating a set which have immutable elements with lists
set1 = {1,2,3,("set")}
print(set1)

{1, 2, 3, 'set'}

In [13]:
# set in set elements
set2 = {1,2,3,{"hello","jello"}};
print(set2)

TypeError: unhashable type: 'set'

***In the above code, we have created two sets, the set set1 have immutable elements and set2 have one mutable element as a list. 

While checking the type of set2, it raised an error, which means set can contain only immutable elements.***

***Creating an empty set is a bit different because empty curly {} braces are also used to create a dictionary as well. 

So Python provides the set() method used without an argument to create an empty set.***

In [14]:
emt_dict = {}
type(emp_dict)

NameError: name 'emp_dict' is not defined

In [15]:
emt_set = set()
type(emt_set)

set

In [16]:
set5 = {1,2,4,4,8,9,9,10}
print("Return set with unique element",set5)

Return set with unique element {1, 2, 4, 8, 9, 10}

In [17]:
Months = {"Jan","Feb","Mar"}

In [18]:
type(Months)

set

In [19]:
Months.add("June")

In [20]:
Months

{'Feb', 'Jan', 'June', 'Mar'}

In [21]:
Months

{'Feb', 'Jan', 'June', 'Mar'}

In [22]:
for i in Months:
    print(i)

Feb
June
Jan
Mar

In [23]:
set5

{1, 2, 4, 8, 9, 10}

In [24]:
Months

{'Feb', 'Jan', 'June', 'Mar'}

In [25]:
Months.update(["April","May"])

In [26]:
Months

{'April', 'Feb', 'Jan', 'June', 'Mar', 'May'}

### Removing items from the set
    
    Python provides the discard() method and remove() method which can be used to remove the items from the set. 

    The difference between these function, using discard() function if the item does not exist in the set then the set remain unchanged whereas remove() method will through an error.

In [27]:
Months

{'April', 'Feb', 'Jan', 'June', 'Mar', 'May'}

In [28]:
Months.discard("April")

In [29]:
Months

{'Feb', 'Jan', 'June', 'Mar', 'May'}

In [30]:
Months.discard("kuchhbhi")

In [31]:
Months

{'Feb', 'Jan', 'June', 'Mar', 'May'}

In [32]:
# when use the remove method for delete item in the set
Months.remove("kuchhbhi")

KeyError: 'kuchhbhi'

1. We can also use the pop() method to remove the item. 

2. Generally, the pop() method will always remove the last item but the set is unordered, we can't determine which element will be popped from set.

In [33]:
Months

{'Feb', 'Jan', 'June', 'Mar', 'May'}

In [34]:
Months.pop()

'Feb'

In [35]:
Months

{'Jan', 'June', 'Mar', 'May'}

In [36]:
Months.pop()

'Jan'

In [37]:
Months

{'June', 'Mar', 'May'}

In [38]:
Months.pop()

'June'

In [39]:
Months

{'Mar', 'May'}

***Python provides the clear() method to remove all the items from the set.***

In [40]:
Months.clear()

In [41]:
Months

set()

### Python Set Operations

    Set can be performed mathematical operation such as union, intersection, difference, and symmetric difference.

### 1.Union of two Sets

    To combine two or more sets into one set in Python, use the union() function.

In [42]:
# first of all using union operator
day1 = {"Sun","Mon","Tue"}

In [43]:
day2 = {"Wed","Thu","Fri"}

In [44]:
print(day1|day2)

{'Mon', 'Thu', 'Tue', 'Sun', 'Wed', 'Fri'}

In [45]:
day1.union(day2)

{'Fri', 'Mon', 'Sun', 'Thu', 'Tue', 'Wed'}

In [46]:
set1 = {1,2,3}
set2 = {2,3,4}
set3 = {3,4,5}

In [47]:
set1.union(set2,set3)

{1, 2, 3, 4, 5}

### The intersection of two sets
    
    To discover what is common between two or more sets in Python, apply the intersection() function.

     One or more sets can also be used as the intersection() function parameters.

In [48]:
day1

{'Mon', 'Sun', 'Tue'}

In [49]:
day2

{'Fri', 'Thu', 'Wed'}

In [50]:
print(day1 & day2)

set()

In [51]:
set1

{1, 2, 3}

In [52]:
set2

{2, 3, 4}

In [53]:
set1&set2

{2, 3}

In [54]:
# intersection() method
print(set1.intersection(set2))

{2, 3}

### 3.The intersection_update() method
    The intersection_update() method removes the items from the original set that are not present in both the sets (all the sets if more than one are specified). 

    The intersection_update() method is different from the intersection() method since it modifies the original set by removing the unwanted items, on the other hand, the intersection() method returns a new set.

In [56]:
a = {"pooja","sahil","sona"}
b = {"sona",}