# Python Tuples

    A comma-separated group of items is called a Python triple. 
    
    The ordering, settled items, and reiterations of a tuple are to some degree like those of a rundown, but in contrast to a rundown, a tuple is unchanging.

    The main difference between the two is that we cannot alter the components of a tuple once they have been assigned. 
    
    On the other hand, we can edit the contents of a list.t.

In [1]:
tup = ("Sahil","Pooja","Payal","Ankita")

### Features of Python tuple

    Tuples are an immutable data type, meaning their elements cannot be changed after they are generated.

    Each element in a tuple has a specific order that will never change because tuples are ordered sequences.

### Forming a Tuple

    All the objects-also known as "elements"-must be separated by a comma, enclosed in parenthesis (). 
    
    Although parentheses are not required, they are recommended.

    Any number of items, including those with various data types (dictionary, string, float, list, etc.), can be contained in a tuple.

In [2]:
# create a empty tuple

emp_tup = ();
print(emp_tup)

()

In [3]:
# create a tuple having integers

int_tuple = (4,6,20,12,14)
print("Tuple With integers : ", int_tuple)

Tuple With integers :  (4, 6, 20, 12, 14)

In [4]:
# create a tuple having objects of different data types

dif_tup = (4,"Python",9.3)
print("Tuple With different data types :",dif_tup)

Tuple With different data types : (4, 'Python', 9.3)

In [5]:
#create a nested tuple
nested_tup  = ("Python",{4:5,6:2,8:2},(5,3,5,6))
print("A nested tuple:",nested_tup)

A nested tuple: ('Python', {4: 5, 6: 2, 8: 2}, (5, 3, 5, 6))

#### Q.1 Python program to create a tuple without using parentheses

In [6]:
# create a tuple
tup = 4,5,7,"Tuples",["Python","Tuples"]

In [7]:
# displaying the tuple created
print(tup)

(4, 5, 7, 'Tuples', ['Python', 'Tuples'])

In [8]:
# checking the data type of object tup
print(type(tup))

<class 'tuple'>

In [9]:
# do not update tuple element
tup[2] = 4.5

TypeError: 'tuple' object does not support item assignment

#### Q.2 Python program to show how to create a tuple having a single element.

In [10]:
# single Element in tuple
single_tup = ("Tuple")

In [11]:
single_tup

'Tuple'

In [12]:
# Checking the object is tuple or not.
print(type(single_tup))

<class 'str'>

In [13]:
single_tup = ("Tuple",)

In [14]:
print(type(single_tup))

<class 'tuple'>

In [15]:
# creating tuple wihtout parentheses
single_tup = "Tuple",

In [16]:
type(single_tup)

tuple

### Accessing Tuple Elements

    A tuple's objects can be accessed in a variety of ways.

### 1. Indexing

    Indexing We can use the index operator [] to access an object in a tuple, where the index starts at 0.

    The index in Python must be an integer, we cannot provide an index of a floating data type or any other type. If we provide a floating index, the result will be TypeError.

In [17]:
# create a tuple
tup = ("Python","Tuple","Ordered","Collection")

In [18]:
tup[0]

'Python'

In [19]:
# out of length generated a error
tup[5]

IndexError: tuple index out of range

In [20]:
tup[1.0]

TypeError: tuple indices must be integers or slices, not float

In [21]:
# creating a nested tuple
nested_tup = ("Tuple",[4,6,2,6],[6,2,6,7])
# Accessing the index of a nested tuple
print(nested_tup[0][3])

l

In [22]:
print(nested_tup[1][1])

6

### 2.Negative Indexing

    Python's sequence objects support negative indexing

    The last thing of the assortment is addressed by - 1, the second last thing by - 2, etc.

In [23]:
tup

('Python', 'Tuple', 'Ordered', 'Collection')

In [24]:
tup[-1]

'Collection'

In [25]:
tup[-2]

'Ordered'

### 3.Slicing

    To gain access to various tuple elements, we can use the slicing operator colon (:).

In [26]:
tup

('Python', 'Tuple', 'Ordered', 'Collection')

In [27]:
tup[-4:-1]

('Python', 'Tuple', 'Ordered')

In [28]:
tup[1:4]

('Tuple', 'Ordered', 'Collection')

In [29]:
tup[0:-4]

()

In [30]:
tup[:] # default

('Python', 'Tuple', 'Ordered', 'Collection')

### Deleting a Tuple

    A tuple's parts can't be modified.. 
    
    We are unable to eliminate or remove tuple components as a result.

    However, the keyword del can completely delete a tuple.e.

In [31]:
tup

('Python', 'Tuple', 'Ordered', 'Collection')

In [32]:
del tup[3]

TypeError: 'tuple' object doesn't support item deletion

In [33]:
del tup

In [34]:
tup

NameError: name 'tup' is not defined

### Repetition Tuples in Python

In [35]:
tup = "Python","Tuples"

In [36]:
tup * 3

('Python', 'Tuples', 'Python', 'Tuples', 'Python', 'Tuples')

### Tuple Methods

    1. Count() Method
    2. Index() Method

In [37]:
# 1. count() method
T1 = (0, 1, 5, 6, 7, 2, 2, 4, 2, 3, 2, 3, 1, 3, 2)  
T2 = ('python', 'java', 'python', 'Tpoint', 'python', 'java')

In [38]:
res = T1.count(2)

In [39]:
res

5

In [40]:
res = T2.count("python")

In [41]:
res

3

#### index method
**The Index() function returns the first instance of the requested element from the Tuple.**

1. Start: (Optional) the index that is used to begin
   
2. final (optional) search: The most recent index from which the search is carried out

In [42]:
Tuple_data = (0, 1, 2, 3, 2, 3, 1, 3, 2)

In [43]:
# getting the index of 3
res = Tuple_data.index(3)

In [44]:
res

3

In [45]:
res = Tuple_data.index(3,4)

In [46]:
res

5

In [47]:
tuple

tuple

In [48]:
tup

('Python', 'Tuples')

In [49]:
print("Pyhton" in tup)

False

In [50]:
print("Python" in tup)

True

In [51]:
print("Tuples" not in tup)

False

In [52]:
# iterating Through a tuple

tup = ("Python","Tuple","Ordered","Immutable")

In [53]:
tup

('Python', 'Tuple', 'Ordered', 'Immutable')

In [54]:
for item in tup:
    print("Element : ",item)

Element :  Python
Element :  Tuple
Element :  Ordered
Element :  Immutable

In [55]:
# concatenate tuples
print(tup + (4,5,6))

('Python', 'Tuple', 'Ordered', 'Immutable', 4, 5, 6)